        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        header {
            background-color: #2c3e50;
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 28px;
            font-weight: bold;
        }

        section {
            padding: 20px;
            margin: 15px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
        }

        h2 {
            color: #2c3e50;
            border-bottom: 2px solid #ddd;
            padding-bottom: 5px;
        }

        .student-details {
           
            padding: 15px;
            border-radius: 6px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            padding: 5px 0;
        }

        .social a {
            text-decoration: none;
            color: #2c3e50;
            font-weight: bold;
        }

        .social a:hover {
            color: #2980b9;
        }

        footer {
            background-color: #2c3e50;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }
 .education-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.edu-card {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.edu-card:hover {
    transform: translateY(-5px);
}

.edu-card h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.certificate-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.certificate-box {
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.certificate-img {
    width: 100%;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.certificate-img:hover {
    transform: scale(1.4);
}


header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}


img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

